body {
  background-color: LightGrey;
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}
