
body {
  background-color: LightBlue;
}

.jumbotron {
  background-image: url("../img/cover.jpg");
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 200px;

}
.jumbotron p {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: white;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: red;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn {
  text-align: center;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 20px;
}

#refresh {
  background-color: yellow;
  margin-top: 30px;
  margin-bottom: 30px;
}
.container1{
  padding-top: 10px;
  padding-bottom: 10px;
  /*text-align: center;*/
}

img {
  /*width: 600px;
  height: auto;*/
  padding-right: 40px;
  padding-left: 40px;
  margin: auto;
}


p1 {
  font-size: 40px;
}

#tulum {
  display: none;
}

#cairns {
  display: none;
}

#turkey {
  display: none;
}
